<div class="quote-box">
  <div class="quote-of">
    RANDUM VIDS
  </div>
<br><br><br><br>
  <div class="quote">

  </div>
</div>
<script type="text/javascript">

  var music = [["Popol Vuh - Spirit of Peace", "05A-LRoAzUc"],
                ["Yes - Close to the Edge", "GNkWac-Nm0A"],
                ["Kate Bush - The Dreaming", "BnjcwaukknM"]

  ];
  var funniez = [["Matt Berry: Happy New You", "otXlkWXGx7Q"],
                ["Paul Rudd is Celery Man", "maAFcEU6atk"],
                ["Xavier: Chief Beef Loco", "70VWPNb60rg"]
  ];

  Array.prototype.randomElement = function () {
    return this[Math.floor(Math.random() * this.length)]}

  function embed(id) {
    var s = '<iframe width="200" src="https://www.youtube.com/embed/';
    s = s + id + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
    console.log(s);
    return(s);
  }
  $(document).ready(function(){
    var song = music.randomElement();
    var funny = funniez.randomElement();

$('.quote').html('MUSIC!<br> ' + song[0] + ' <br>' + embed(song[1]) + '<br> FUNNIEZ! <br>' + funny[0] + '<br>' + embed(funny[1]));
  })
</script>
