<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% for page in pages_list %}
        {% if page.title != null %}
          {% if page.category == "mathpages" %}
            <a class="sidebar-nav-item{% if page.url == page.url %} active{% endif %}" href="{{ site.baseurl }}{{ page.url  | remove_first: '/' }}">{{ page.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <nav class="sidebar-nav">
      {% for page in site.mathpages %}
        <a class="sidebar-nav-item{% if page.url == page.url %} active{% endif %}" href="{{ site.baseurl }}{{ page.url  | remove_first: '/' }}">{{ page.title }}</a>
      {% endfor %}
    </nav>

  </div>
</div>
