<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href={{site.baseurl}}>{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for collection in site.collections %}
        {% if collection.label != "posts" %}
          {{ collection.nav_label }}
          <ul style="list-style-type:none;">
            {% for page in site[collection.label] %}
            <li><a class="sidebar-nav-item{% if page.url == page.url %} active{% endif %}" href="{{ page.url }}">{% if page.status == "green" %}green{% endif %}{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
